<ng-container *ngIf="users.length"; else loader>
    <table class="user-table">
        <thead>
            <tr>
                <th>Delete <input type="checkbox" [checked]="mainCheckboxState" (change)="toggleMainCheckbox()"></th>
                <th (click)="sort('lastname')">Lastname</th>
                <th>Firstname</th>
                <th>Id</th>
                <th (click)="sort('role')">Role id</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <td><input type="checkbox" name="user-check" [checked]="checkboxesState[i]" (change)="toggleCheckbox(i)"></td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.role_id }}</td>
            </tr>
        </tbody>
    </table>
</ng-container>

<button (click)="onDelete()" id="deleteButton">Delete selected users</button>
<a [routerLink]="['/', 'user', 'add']">Add a user</a>
<a [routerLink]="['/', 'user', 'update']">Update a user</a>