$input-line-color: rgb(10, 25, 200);
input {
    border: none;
    border-bottom: solid 1px $input-line-color;

    // input[type="text"]
    &[type="text"] {
        border-bottom: dashed 1px lighten($input-line-color, 40%);
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: .5em;

    li {
        padding: .8em;
        margin-bottom: .25em;

        &.admin {
            background-color: darken($input-line-color, 10%);
        }
        &.contributor {
            background-color: lighten($input-line-color, 10%);
        }
        &.visitor {
            background-color: lighten($input-line-color, 30%);
        }
        &.striked {
            text-decoration: line-through;
        }
        
        button {
            float: right;
        }
    }
}

button {
    &.tri-state-button {
        background-color: #fff;
        border: solid 1px $input-line-color;
        height: 1em;
        width: 1em;
    }
}